.fixtop{
	margin-top: 100px;
}

.header {
	height: 100px;
	background-color: rgba(0, 81, 157, 0.733);;
	z-index:1;
	margin-left: -28px;
	top: 0;
    width: 101%;
	position: fixed;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 10px 30px;
	font-size: 32px;
	line-height: 100px;
	font-weight: 400;
	letter-spacing: 2px;
	font-family: YouYuan;
	color: rgb(255, 255, 255);;
}

.header img{
	float : left;
	padding: 0 20px;
	
}

.header nav {
	float: right;
	font-size: 20px;
	padding: 10px 15px;
	margin-right: 10px;
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 100px;
	margin: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255, 255, 255, 0);
	text-decoration: none;
	color :#dee4f0;
	will-change: background-color;
	transition-property: color;
	transition-duration: 300ms;
	text-transform: uppercase;
	position: relative;
}

.header nav a:hover,
.header nav a:active,
.header nav a.active {
	color: white;
}

.header nav a:after {
	content: '';
	width: 0%;
	border-bottom: 3px solid white;
	position: absolute;
	bottom: -12px;
	left: 0;
	transition-duration: width;
	transition-duration: 300ms;

}

.header nav a:hover:after, .header nav a.active:after {
	width: 70%
}

@media all and (max-width: 728px) {
	.header h1{
		font-size: 2rem;
	}
	.header nav a{
		line-height: 100px;
		margin: 0 8px;
	}
}
